<p>users works!</p>
<input type="text", placeholder="search" *[ngModel]="term">
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>City</th>
            <th>Fee</th>
            <th>Image</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.phone }}</td>
            <td>{{user.city}}</td>
            <td>{{user.fee | price}}</td>
            <td>{{user.id}}</td>
            <td>
                <img src="{{user.image}}" alt="" >
            </td>
            <td>{{users.id}}</td>
            <td>
                <button (click)="edit(user.id)">edit</button>
                <button (click)="view(user.id)">view</button>
                <button (click)="deleteUser(user.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>
<p>gjhmvgjhn</p>