<p>login works!</p>
<h1>Lomhbgjhgin</h1>
<div class="parent">

    <form [formGroup]="loginform">
        <h1>Login Form</h1>
        <label for="">Email : </label>
        <input type="email" name="" id="" placeholder="Email" formControlName="email">
        <br>
        <label for="">Password :   </label>
        <input type="password" placeholder="Password" formControlName="password">
        <br>
        <label for=""></label>
        <button (click)="login()" >Login</button>

    </form>
</div>
