<h1 *ngIf="!id">Create User</h1>
<h1 *ngIf="id">Edit User</h1>


<form action="" [formGroup]="userForm">

    <label for="">Name</label>
    <input type="text" name="" id="" placeholder="name" formControlName="name" >
    <br>
    <label for="">Phone</label>
    <input type="text" name="" id="" placeholder="phone number" formControlName="phone">
    <br>
    <label for="">City</label>
    <input type="text" name="" id="" placeholder="city" formControlName="city">
    <br>
    <label for="">Image</label>
    <input type="text" name="" id="" placeholder="image" formControlName="image">
    <br>
    <button type="button" (click)="submit()">submit</button>

</form>