<p>dashboard works!</p>
<style>
::-webkit-scrollbar {
    width: 20px;
    color: red;
  }
</style>
  
<div class="parent">
    <div class="left">
        <h1><marquee>DashBoard</marquee></h1>
        <hr>
        <h3 routerLink="login">login</h3>
        <h3 routerLink="about-company">About-company</h3>
        <h3 routerLink="payments/card-payment">card-payments </h3>
        <h3 routerLink="payments/upi-payment">upi payments</h3>
        <h3 routerLink="payments/net-banking">net-banking</h3>

        <h3 routerLink="structuraldirectives">structural directives</h3><hr><br>
        <h3 routerLink="items">items</h3>
        <h3 routerLink="cart">cart</h3>
        <h3 routerLink="nav">nav</h3>
        <h3 routerLink="marks">Marks</h3>
        <h3 routerLink="pipes">Pipes</h3>
        <h3 routerLink="events">EVENTS</h3>
        <h3 routerLink="cars">CARS</h3>
        <h3 routerLink="products">Products</h3>
        <h3 routerLink="users">Users</h3>
        <h3 routerLink="banking">Banking</h3>
        <h3 routerLink="createvehicle">createvehicle</h3>
        <h3 routerLink="vehicledetails">vehicledetails</h3>
        <h3 routerLink="parent">parent</h3>
        <h3 routerLink="stars">stars</h3>
        <h3 routerLink="rating">rating</h3>
        
        <h3 routerLink="createusers">createusers</h3>

        <h3 routerLink="memes">memes</h3>
        <h3 routerLink="Gallery">Gallery</h3>
        <h3 routerLink="flipkart">flipkart</h3>
        <h3 routerLink="vehicle">vehicle</h3>

        
        <button  class="Logout" (click)="logout()">Logout</button>
        <h3 routerLink="userform">userform</h3>

          <h3 routerLink="inputcount">input count startsss</h3>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
