<p>dashboard works!</p>
<div class="parent">
    <div class="left">
        <h1><marquee>DashBoard</marquee></h1>
        <hr>
        <h3 routerLink="login">login</h3>
        <h3 routerLink="structuraldirectives">structural directives</h3><hr><br>
        <h3 routerLink="marks">Marks</h3>
        
        <h3 routerLink="pipes">Pipes</h3>
        <h3 routerLink="events">EVENTS</h3>
        <h3 routerLink="cars">CARS</h3>
        <h3 routerLink="products">Products</h3>
        <h3 routerLink="users">Users</h3>
        <h3 routerLink="banking">Banking</h3>
        
        <h3 routerLink="createusers">createusers</h3>

        <h3 routerLink="memes">memes</h3>

        
        <button  class="Logout" (click)="logout()">Logout</button>
        

    </div>
    <div class="right">
        <!-- <router-outlet></router-outlet> -->
    </div>
</div>
